<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llamita Sport</title>
    <link rel="stylesheet" href="./vista-inicial1.component.css">
</head>
<body>
    <header>
        
        <h1 style="text-align: center;">Bienvenido a Llamita Sport</h1>
        <p style="align-content: center;">Tu destino número uno para todo lo relacionado con el mundo del deporte y el estilo de vida activo.
        Muchas gracias por la atención y la preferencia.
        Aprovecha nuestras increíbles ofertas y descuentos exclusivos.
        Explora nuestra amplia selección de productos de alta calidad.
        ¡No esperes más y únete a la comunidad de Llamita Sport!</p>
    </header>
    <div id="productos" class="container">
        <div class="product">
            <img src="assets/guantes.jpg" alt="Imagen de producto">
            <h2>Producto 1</h2>
            <p>Nuestra nueva oferta, hasta finales de Mayo</p>
        </div>
        <div class="product">
            <img src="assets/busos.webp" alt="Imagen de producto">
            <h2>Producto 2</h2>
            <p>Producto más vendido en este semestre</p>
        </div>
        <div class="product">
            <img src="assets/busos.webp" alt="Imagen de producto">
            <h2>Producto 3</h2>
            <p>Descripción del producto 3</p>
        </div>
    </div>

    <footer id="contacto">
        <p>&copy; 2024 Llamita Sport. Todos los derechos reservados.</p>
        <div>
            <h3>Contacto</h3>
            <form action="mailto:info@llamitasport.com" method="post" enctype="text/plain">
                <label for="nombre">Nombre:</label><br>
                <input type="text" id="nombre" name="nombre" required><br>
                <label for="email">Correo electrónico:</label><br>
                <input type="email" id="email" name="email" required><br>
                <label for="mensaje">Mensaje:</label><br>
                <textarea id="mensaje" name="mensaje" rows="4" required></textarea><br>
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div>
            <h3>Síguenos en redes sociales</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
